# Maven
agent/target/
pkcs11-test/target/
reader-binder/target/
**/dependency-reduced-pom.xml

# reader-binder logs
reader-binder/logs/

# .NET
[Bb]in/
[Oo]bj/
*.user
orchestrator/**/bin/
orchestrator/**/obj/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
